.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .background-section {
        background-image: url('fondo_inicio.webp');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .custom-card {
        background-color: rgba(122, 109, 103, 0.7); /* Fondo negro con 70% de opacidad */
        border-radius: 1rem;
      }
      
      